.container {
  width: 80%;
}

header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: none;
}
header .container a {
  text-decoration: none;
  margin-right: 15px;
  color: #1d365e;
  position: relative;
}
header .container a:hover {
  color: #2a73dd;
  transition: 0.3s;
}
header .container a:before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #2a73dd;
  transition: 0.3s;
}
header .container a:hover:before {
  width: 100%;
}
header .container .logo {
  color: #2a73dd;
}

.banner {
  background-image: url(../image-20221101T030958Z-001/image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .infor h2 {
  color: #2a73dd;
}
.banner .infor h3 {
  color: #1d365e;
}
.banner .infor .btn-info,
.banner .infor .btn-shop {
  padding: 15px 75px;
  border-radius: 8px;
  font-size: 15px;
}
.banner .infor .btn-info {
  border: 2px solid #2a73dd;
  color: #2a73dd;
}
.banner .infor .btn-shop {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
}

.product {
  background-color: #f5f9fe;
  padding: 80px 0;
}
.product h2.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #1d365e;
  margin-bottom: 50px;
}
.product .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, 0px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.product .list .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, 0px 12px #fff;
  border-radius: 8px;
}/*# sourceMappingURL=index.css.map */